/*
 * Copyright (C) 2020 iWave System Technologies Pvt Ltd.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;

#include "fsl-imx8mn.dtsi"

/ {
	model = "iW-RainboW-G37M-i.MX8MN-SODIMM";
	compatible = "fsl,imx8mn-iwg37m", "fsl,imx8mn";

	memory@40000000 { /* RAM: 1GB Memory support */
		device_type = "memory";
		reg = <0x0 0x40000000 0 0x40000000>;
	};

	reserved-memory { /* RAM: 1GB Memory support */
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* global autoconfigured region for contiguous allocations */
		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0 0x14000000>;
			alloc-ranges = <0 0x40000000 0 0x30000000>;
			linux,cma-default;
		};

		rpmsg_reserved: rpmsg@0xb8000000 {
			no-map;
			reg = <0 0x78000000 0 0x400000>;
		};
	};

	iwg37m_common { /* SoC Board Setttings : Board Configuration GPIOs */
		compatible = "iw,iwg37m-com";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_board_cfg>;
		som-rev-gpios = <&gpio1 9 0 &gpio5 1 0 &gpio4 25 0 &gpio4 26 0
				&gpio4 27 0 &gpio2 19 0 &gpio2 20 0 >;
		status = "okay";
	};
};

&iomuxc {

	imx8mn-iwg37m {
		pinctrl_board_cfg: brd_cfg { /* SoC Board Settings: IOMUX Pin Configuration */
			fsl,pins = <
				MX8MN_IOMUXC_GPIO1_IO09_GPIO1_IO9		0x1d0
				MX8MN_IOMUXC_SAI3_TXD_GPIO5_IO1			0x1d5
				MX8MN_IOMUXC_SAI2_TXC_GPIO4_IO25		0x1d5
				MX8MN_IOMUXC_SAI2_TXD0_GPIO4_IO26		0x1d5
				MX8MN_IOMUXC_SAI2_MCLK_GPIO4_IO27		0x1d5
				MX8MN_IOMUXC_SD2_RESET_B_GPIO2_IO19		0x1d5
				MX8MN_IOMUXC_SD2_WP_GPIO2_IO20			0x1d5
			>;
		};
	};
};

&gpu { /* GPU */
	reg = <0x0 0x38000000 0 0x40000>, <0x0 0x40000000 0x0 0x40000000>, <0x0 0x0 0x0 0x4000000>;
	status = "okay";
};
